.app-container {
    display       : flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background    : #111111;
    color         : white;
}

.header {
    display   : flex;
    max-height: 50px;
    flex      : none;
    overflow  : hidden;
}
.hamburger {
    padding : 20px;
    flex    : 0;
    overflow: hidden;
    font-size: 1.2rem;
}
.fa-bars{
    margin-right: 15px;
}
@media only screen and (max-width: 768px) {
    .header {
        display       : flex;
        flex-direction: column;
        overflow      : hidden;
        flex          : none;
        max-height    : 100vh;
        flex          : 1;
    }

    .hamburger {
        padding : 20px;
        flex    : 0;
        overflow: hidden;
        font-size: 1.2rem;
    }
    .fa-bars{
        margin-right: 15px;
    }
}