.app-container {
    display       : flex;
    flex          : 1;
    flex-direction: column;
    background    : #111111;
    color         : white;
}

.header {
    display   : flex;
    max-height: 50px;
    flex      : none;
    overflow  : hidden;
}

@media only screen and (max-width: 768px) {
    .header {
        display       : flex;
        flex-direction: column;
        overflow      : hidden;
        flex          : none;
        max-height    : 100vh;
        flex          : 1;
    }
}