# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
frontend/dist/

# Dependency directories
frontend/node_modules/
mock backend/node_modules/

# Optional npm cache directory
.npm

# package-lock
frontend/package-lock.json
mock backend/package-lock.json




