<div class="container dashboard-container">
    <div class="page-header" *ngIf="showFilters">
        <div class="page-title">
            <span style="display: inline-flex; justify-content: space-between; width: 100%;">
                <h4 *ngIf="showFilters" style="float: left;">Filters</h4>
                <div (click)="hideFilters()"><i class="fas fa-times" style="float: right;"></i></div>
            </span>
        </div><br>
        <div class="filters">
            <span style="display:inline-flex; line-height: 0.8rem;">
                <p>Sort: </p>&nbsp;
                <div style="display: flex; flex-wrap: wrap;">
                    <span style="display: inline-flex; line-height: 2.5rem; padding-right: 10px;"
                        *ngFor="let filter of sortFilters; let i = index">
                        <input type="radio" name="sort" [value]="filter" [(ngModel)]="selectedSort"
                            (change)="sortChallenges()" />&nbsp;<label>{{filter}}</label>
                    </span>
                </div>
            </span>
            <span style="display: inline-flex; line-height: 0px;">
                <p>Tags: </p>&nbsp;
                <app-tags [tag]="tag" (selectedEmitter)="selectTags($event)"></app-tags>
            </span>
        </div>
    </div>
    <div class="content">
        <div class="page-title" style="margin-left: 10px;margin-bottom: 10px;" >
            <h4 class="page-title">Live Challenges</h4><div (click)="hideFilters()" *ngIf="!showFilters"><i class="fas fa-filter"></i></div>
        </div>
        <div class="challenges-container">
            <div class="challenges-subc">
                <app-challenge-card [cardData]="items" *ngFor="let items of cardDataList"></app-challenge-card>
            </div>
        </div>
    </div>
</div>